/*contains all the resets, variables, mixins, and utility classes*/
/*colors*/
* {
  direction: rtl;
  user-select: none;
}

.login-section {
  background-color: #FFFFFF;
  box-shadow: #00000059 0px 5px 15px;
  border-radius: 10px;
  width: 65rem;
  height: 40rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
}
@media screen and (min-width: 900px) and (max-width: 1400px) {
  .login-section {
    width: 50rem !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .login-section {
    width: 25rem !important;
  }
}
@media screen and (max-width: 600px) {
  .login-section {
    width: 21rem !important;
  }
}

.form-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__Login {
  height: 100%;
  background: #f8f8ff;
  border-radius: 15px;
  flex: 1;
}

.section__info {
  border-radius: 30px 0px 0px 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}
@media screen and (max-width: 900px) {
  .section__info {
    display: none;
  }
}
.section__info .login__background {
  width: 50%;
  height: 80%;
  position: absolute;
  top: 0vh;
  left: 0vw;
  border-radius: 8px;
}
.section__info h1 {
  color: black;
  font-weight: 600 !important;
  padding: 4rem 2rem;
  font-size: 2rem;
  text-align: center;
}
.section__info p, .section__info h2 {
  color: black;
}
.section__info h2 {
  margin-bottom: 0.5rem;
}

.line {
  width: 4rem;
  height: 0.01rem;
  border-top: 0.1rem solid #FFFFFF;
}

.icon {
  color: black;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-top: 0.2rem;
}

.login-title {
  padding: 1rem 2rem;
}

.h5-info-form {
  color: red;
  text-align: center;
  padding: 1.5rem;
}

.Form__section__login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 90%;
}

.errorSection {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 5rem;
}
.errorSection .errorMsg {
  margin-right: 1rem;
  color: #d70226;
  font-weight: 500;
  margin: 0;
}

.section-name, .section-password, .section-message, .section-phone {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
  width: 90%;
}
.section-name .LabelDiv, .section-password .LabelDiv, .section-message .LabelDiv, .section-phone .LabelDiv {
  font-size: 1rem;
  width: 8rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-name .LabelDiv > label, .section-password .LabelDiv > label, .section-message .LabelDiv > label, .section-phone .LabelDiv > label {
  color: black;
}
.section-name > input, .section-name > textarea, .section-password > input, .section-password > textarea, .section-message > input, .section-message > textarea, .section-phone > input, .section-phone > textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #eff0f2;
  padding-right: 0.5rem;
  outline: none;
  margin-bottom: 0.5rem;
}
.section-name > input:focus, .section-name > textarea:focus, .section-password > input:focus, .section-password > textarea:focus, .section-message > input:focus, .section-message > textarea:focus, .section-phone > input:focus, .section-phone > textarea:focus {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  outline: 1px solid #6b7688;
}
.section-name > textarea, .section-password > textarea, .section-message > textarea, .section-phone > textarea {
  height: 5rem;
  resize: none;
  width: 20rem;
}

.btnSubmit {
  padding: 1rem 2rem;
  background-color: #6968be;
  color: white;
  border-radius: 15px;
  font-size: 1.2rem;
  border: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 10vh;
}
.btnSubmit:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  color: black;
  background-color: #a4b8f7;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard {
  height: 100vh;
  display: flex;
}

.navbar-folders {
  flex: 0.2;
  background-color: #FFFFFF;
}
.navbar-folders .Btn-ShowFolder {
  border-bottom: 0.01rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2rem;
  padding-bottom: 0rem;
  width: 12rem;
  height: 3rem;
  justify-content: space-between;
}
.navbar-folders .Btn-ShowFolder > li > a {
  text-decoration: none;
  color: black;
}
.navbar-folders .Btn-ShowFolder:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: #f9fdff;
}

.active {
  background-color: #FFFFFF;
}

.h2-title-watch {
  text-align: center;
}

.title-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.folders-ToShow {
  height: 100%;
  width: 100%;
  flex: 1.5;
}

/*Folder*/
.folder {
  margin-right: 3rem;
  width: 13rem;
  height: 15rem;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 3px solid #F2F2F2;
}
.folder:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.folder > a > img {
  cursor: pointer;
  width: 100%;
  padding-top: 1.2rem;
}
.folder .folder__details {
  margin-top: 1rem;
  border-top: 2px solid #F2F2F2;
}
.folder .h3-title-folder {
  text-align: center;
  font-size: 0.9rem;
}

.box-folders {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 2rem;
  height: 100%;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.settings-File {
  margin: 0.2rem;
}
.settings-File:hover {
  cursor: pointer;
}

.NavBar-settings {
  flex-direction: column;
  position: absolute;
  background-color: #f6f6f6;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavBar-settings > ul {
  list-style-type: none;
  padding: 0;
  width: 9rem;
  height: 1rem;
  margin: 0.7rem 0.5rem;
}
.NavBar-settings > ul > li {
  text-align: center;
}
.NavBar-settings > ul > li:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: #FFFFFF;
}

.editBtn {
  position: relative;
  top: 2rem;
  left: 1rem;
}

/*error form*/
.error-Form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 40rem;
  background: #f6f6f6;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.red {
  color: #d70226;
}

/*X btn*/
.btn-container {
  width: 3rem;
  height: 3rem;
  position: absolute;
  border: none;
  background: transparent;
}

.close-container {
  position: relative;
  width: 2rem;
  height: 3rem;
  cursor: pointer;
}

.leftright {
  height: 4px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 4px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.close {
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #F25C66;
}

.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #F25C66;
}

.close-container:hover label {
  opacity: 1;
}

.reactangle-object {
  width: 10rem;
  border-radius: 6px;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .reactangle-object {
    display: none;
  }
}

/*Hebet logo*/
.Hebet_logo {
  height: 5.5rem;
  width: auto;
}
@media screen and (max-width: 1200px) and (min-width: 900px) {
  .Hebet_logo {
    height: 3.8rem;
  }
}
@media screen and (max-width: 900px) {
  .Hebet_logo {
    height: 3rem;
  }
}

.WonderTeam_logo {
  width: 6rem;
}

.eye-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.Nav-DashBoard {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 4rem;
}

.search {
  flex: 2;
}

.img-profile {
  width: 2rem;
  padding: 1rem;
}

.input-search {
  padding-right: 1rem;
  width: 30rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.logos {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down {
  padding: 1rem;
}

.search-icon {
  cursor: pointer;
  padding: 0rem 1rem;
  height: 1em;
}

/*edit mode btn*/
.editMode {
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  background-color: rgba(109, 109, 109, 0.25);
  margin: 1rem;
}
.editMode:hover {
  background-color: rgba(109, 109, 109, 0.6);
  cursor: pointer;
}

.btn-object {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  border: none;
  margin: 1rem;
}

.ArrayGame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45rem;
  width: 90rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sections-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 95%;
}

.array-section, .code-section {
  flex: 1;
}

.arrayObjects {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Array object input*/
.input-array-game {
  width: 6rem;
  height: 2rem;
  border: 0.5px solid black;
  border-radius: 5px;
  margin-left: 0.8rem;
  margin-right: 0.3rem;
}

.wrap-array-object {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h3-array-object {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.h4-Array {
  margin-top: 2rem;
}

.inputObject {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.span-input {
  font-size: 1rem;
}

/*Next back arrow */
.nextBackArrows {
  width: 100%;
  height: 100%;
}

.download-option {
  text-decoration: none;
  color: black;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  width: 85%;
  text-align: center;
  padding: 0.5rem 0rem;
}

.hidden {
  visibility: hidden;
}

.Update-File {
  width: 50rem;
  height: 40rem;
  background-color: #FFFFFF;
  box-shadow: #00000059 0px 5px 15px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Update-File h2 {
  text-align: right;
  padding: 1rem;
  direction: ltr;
}
.Update-File .sectionCategory, .Update-File .sectionNewfile, .Update-File .sectionName {
  padding: 1rem;
  width: 80%;
  display: flex;
}
.Update-File .sectionCategory label, .Update-File .sectionNewfile label, .Update-File .sectionName label {
  width: 8rem;
  display: inline-block;
}
.Update-File input {
  margin-right: 1rem;
  width: 13rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
}
.Update-File #input-name {
  padding-right: 0.5rem;
  background-color: whitesmoke;
}

/*styles for every component necessary for that project, including buttons, modals, etc.*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*# sourceMappingURL=app.css.map */
