/*styles for every component necessary for that project, including buttons, modals, etc.*/

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


